.element__like {
    background-color: #ffffff;
    background-image: url(../../../vendor/img/Vectorlike.svg);
    background-size: cover;
    border: none;
    height: 19px;
    width: 22px;
    cursor: pointer;
    transition: .3s ease;
}

.element__like:hover {
    opacity: 0.5;
}