.content {
    width: 68.75%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .content {
        width: 78.75%;
    }
}

@media screen and (max-width: 820px) {
    .content {
        width: calc(100% - 19px*2);
    }
}